<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>{{"HOME.TITLE" | translate}}</h2>
      <p>{{"HOME.ABOUT-AITACA" | translate}}</p>
      
      <p class="font-archivo font-size-16">
        {{"HOME.ABOUT" | translate}}
      </p>
      <h3>{{"HOME.OVERVIEW" | translate}}</h3>
      <p class="font-archivo font-size-16">{{"HOME.OVERVIEW-TEXT" | translate}}</p>
      <h3>{{"HOME.RESPONSIBILITIES" | translate}}</h3>
      <ul>
        <li class="font-archivo font-size-16">{{"HOME.RES-1" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.RES-2" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.RES-3" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.RES-4" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.RES-5" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.RES-6" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.RES-7" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.RES-8" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.RES-9" | translate}}</li>
      </ul>
      <h3>{{"HOME.REQUIREMENTS" | translate}}</h3>
      <ul>
        <li class="font-archivo font-size-16">{{"HOME.REQ-1" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-2" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-3" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-4" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-5" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-6" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-7" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-8" | translate}}.</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-9" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.REQ-10" | translate}}</li>
      </ul>
      <h3>{{"HOME.SKILLS" | translate}}</h3>
      <p>{{"HOME.SKILL-1" | translate}}</p>
      <h3 class="font-archivo font-size-16">{{"HOME.ATTRIBUTES" | translate}}</h3>
      <ul>
        <li class="font-archivo font-size-16">{{"HOME.ATT-1" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.ATT-2" | translate}}</li>
        <li class="font-archivo font-size-16">{{"HOME.ATT-3" | translate}}</li>
      </ul>
    </div>
   
  </div>
  <div class="mt-5">
    <div class="row">
      <div class="col-md-6">
        <button (click)="goToJob();" type="submit" class="btn btn-dark btn-lg btn-block mb-4"> {{ 'HOME.BUTTON-APPLY' | translate}}</button>
      </div>
    </div>
  </div>
</div>
